* {
    box-sizing: border-box;
    font-family: "Josefin Sans", san;
    overflow: hidden;
    background-color: #000;
  }
.heart { 
    margin: 0;
    background-repeat: no-repeat;
    z-index: -1;
  }
p{
	position: absolute;
	top: 0px;
	z-index: 1;
  height: 100%;
  width: 100%;
  color: #fff;
  display: grid;;
  place-items: center;
  font-weight: bold;
  font-size: 35px;
  background-color: transparent;
}