* {
    box-sizing: border-box;
    font-family: "Josefin Sans", san;
    overflow: hidden;
  }
.heart { 
    background-color: #000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    z-index: -1;
  }
.teamo{
  background-color: transparent;
	position: absolute;
	top: 0px;
	z-index: 1;
  height: 100%;
  width: 100%;
  color: #fff;
  display: grid;;
  place-items: center;
  font-weight: bold;
  font-size: 15px;
}